.header {
    background: var(--white-color);
    height: 132px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.navbar {
    background-color: var(--main-color-second);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
}


.navbar__menu {
    margin-top: 20px;
}

.navbar__menu-content {
    display: flex;
    justify-content: space-between;
}

.navbar__menu-left {
   display: flex;
   align-items: center;
}


.navbar__menu-left-cart p{
   font-size: 3.4rem;
   color: var(--main-color-second);
   padding: 10px;
   text-transform: capitalize;
   border-left: 1px solid var(--main-color-second);
   margin: 10px 0 0 6px;
}

.navbar__menu-left-logo {
    text-decoration: none;
}

.logo__shopee-cart {
    color: var(--main-color-second);
    fill: currentColor;
    width: 160px;
    height: 46px;
}

.search__bar {
    width: 540px;
    margin: 0;
    border: 2px solid var(--main-color-second);
}

.bar__btn {
    height: 100%;
    margin: 0;
    border-radius: unset;
    background-color: var(--main-color-second);
}

.bar-input {
    padding: 0 8px;
}

.bar-input::placeholder {
    font-size: 2.2rem;
    line-height: 2.4rem;
    opacity: 0.85;
}

/* container */
.cart__container {
    background-color: #f5f5f5;
    padding: 20px 0 80px 0;
}

.cart__voucher {
   display: flex;
   padding: 14px;
   background-color: var(--white-color);
   border: 1px solid rgba(224, 168, 0, 0.4);
   border-radius: 2px;
}

.cart__voucher-icon {
   width: 24px;
   height: 15px;
}

.cart__voucher-content {
  font-size: 2rem;
  line-height: 2.2rem;
  padding-left: 10px;
}


.cart__bill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--white-color);
  margin-top: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.06);
}

.cart__bill-left {
  display: flex;
  align-items: center;
  padding: 10px;
}

.create__input-checked {
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 2px;
}

.active.create__input-checked {
    background-color: var(--main-color-second);
    border: 1px solid var(--main-color-second);
}

.create__input-checked i{
    font-size: 2rem;
    color: var(--white-color);
    padding: 2px;
}

.cart__bill-left p {
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.9);
    padding-left: 20px;
    text-transform: capitalize;
}

.cart__bill-right {
   display: flex;
   align-items: center;
   margin-right: 24px;
}

.unit-cart,
.amount-cart,
.amount_of_price,
.operation-cart {
    font-size: 2.2rem;
    color: #888;
    padding: 10px 50px;
}

.operation-cart {
    padding-right: 20px;
}


.cart__list-product {
   background-color: var(--white-color);
   margin-top: 16px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.06);
}

.cart__product-favorite {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding: 14px 14px 14px 30px;
}

.cart__product-favorite-icon {
    padding: 0 10px 0 20px;
}

.cart__product-favorite-content {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.9);
    padding-right: 10px;
}

.cart__product-favorite-feedback {
    color: var(--main-color-second);
    fill: currentColor;
    width: 16px;
    height: 16px;
}

.cart__product-main {
   display: flex;
   padding: 24px 20px;
   align-items: center;
   user-select: none;
   border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.cart__product-main-input {
    width: 19px;
    height: 19px;
    margin-left: 10px;
}

.cart__product-main-img {
    display: flex;
    padding-left: 20px;
}

.cart__product-main-img-product {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.cart__product-main-img-content {
   padding: 2px 0 0 10px;
}

.cart__product-main-img-content div {
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: rgba(0, 0, 0, 0.9);
    width: 240px;
    padding-bottom: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden
}

.cart__product-main-img-content img {
    height: 18px;
}

.cart__product-main-classify {
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 10px;
    min-width: 170px;
    transform: translateX(28px);
}

.cart__product-main-classify p:first-child {
    padding-bottom: 6px;
}

.cart__product-main-price,
.cart__product-main-price-main {
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.85);
    padding-left: 38px;
}

.cart__product-main-input-amount {
    margin: 0 0 0 60px;
}

.cart__product-main-price-main {
    color: var(--main-color-second);
    transform: translateX(32px);
    min-width: 100px;
}


.cart__product-main-remove {
    padding-left: 80px;
}

.cart__product-main-remove--main,
.cart__product-main--find {
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
}

.cart__product-main-remove--main:hover {
    color: var(--main-color);
    cursor: pointer;
}

.cart__product-main--find {
    position: relative;
    color: var(--main-color-second);
}

.cart__product-main--find i {
    position: absolute;
    top: 0;
    right: 0;
}


.cart__product-main--find-special i {
    right: -8px;
}

.cart__product-voucher {
    display: flex;
    align-items: center;
    padding: 20px 10px 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.card__product-voucher-icon,
.card__product-voucher-icon-second {
    width: 20px;
    height: 20px;
    color: var(--main-color-second);
    fill: currentColor;
}

.card__product-voucher-icon-second {
    color: #00bfa5;
    fill: currentColor;
}

.cart__product-voucher-content {
   font-size: 2.2rem;
   padding-left: 20px;
   color: rgba(0, 0, 0, 0.9);
}

.cart__product-voucher-more {
    font-size: 2.2rem;
    color: #05a;
    text-decoration: none;
    padding-left: 16px;
}

.cart__product-pay {
    margin-top: 24px;
    background-color: var(--white-color);
    box-shadow: 1px -4px 8px rgba(0, 0, 0, 0.08);
    transform: translateY(-150px);
    user-select: none;
}

.active.cart__product-pay {
    transform: translateY(0);
    z-index: 10;
}

.cart__product-pay-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.16);
}

.card__product-voucher-icon-pay {
    transform: translateX(-148px)
}

.card__product-voucher-pay--content {
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.85);
    transform: translateX(-139px)
}

.cart__product-voucher-more-pay {
    margin-right: 8px;
    font-size: 2.25rem;
}

.cart__product-pay-coin {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.82);
    padding: 18px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.16);
}

.cart__product-pay-coin-main {
    display: flex;
    align-items: center;
    margin-right: 134px;
    padding-left: 20px;
}

.cart__product-pay-coin-input {
}

.cart__product-pay-icon--coin {
   width: 20px;
   height: 20px;
}

.cart__product-pay-coin-content {
   font-size: 2rem;
   padding: 0 10px;
}

.cart__product-pay-use--coin {
   font-size: 1.9rem;
   color: #929292;
}

.cart__product-pay-coin--help i {
   font-size: 1.8rem;
   color: #929292;
   padding-left: 4px;
}

.cart__product-pay-coin-price {
   font-size: 2rem;
   color: var(--main-color-second);
   margin-right: 20px;
}

.active.cart__product-pay-coin-price {
   color: #d0d0d0;
}

.cart__product-pay-total {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.cart__product-pay-total-left {
    display: flex;
    align-items: center;
    padding: 24px 0 24px 30px;
}

.cart__product-pay-total-left-choose {
   font-size: 2.7rem;
   line-height: 3.2rem;
   color: rgba(0, 0, 0, 0.82);
   text-transform: capitalize;
   cursor: pointer;
   margin-left: 20px;
}

.cart__product-pay-total-left-remove {
   font-size: 2.4rem;
   color: rgba(0, 0, 0, 0.82);
   margin: 0 16px;
   cursor: pointer;
}

.cart__product-pay-total-left-save {
   font-size: 2.4rem;
   line-height: 2.8rem;
   color: var(--main-color-second);
   text-decoration: none;
}

.cart__product-pay-total-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.cart__product-pay-total-right-all {
   font-size: 2.7rem;
   line-height: 3.2rem;
   color: rgba(0, 0, 0, 0.82);
}

.cart__product-pay-total-right-price {
   font-size: 3.4rem;
   line-height: 3.8rem;
   color: var(--main-color-second);
   padding: 0 16px;
}

.product__love-too {
    font-size: 2.6rem;
    line-height: 2.8rem;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 60px;
    text-transform: uppercase;
}

.cart_product-like--too {
    margin-top: 6px;
}

.home__products-item:hover {
    transform: translateY(-1px);
    box-shadow: unset;
    border: unset;
}

.home__products-container:hover .home__products-find-product-same {
    display: none;
}


/* Khi không có sản phẩm */
.cart__container-no--cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.cart__container-no--cart img {
    width: 200px;
    height: 200px;
}

.cart__container-no--cart span {
    font-size: 2.5rem;
    line-height: 2.7rem;
    color: rgba(0, 0, 0, 0.6);
    padding: 12px 0 26px 0;
}

.product1-btn-buy {
    min-width: 180px;
}


.cart__table-choose {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 560px;
    height: 146px;
    display: none;
    flex-direction: column;
    margin: auto;
    background-color: var(--white-color);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.02);
    z-index: 10;
    user-select: none;
}

.active.cart__table-choose {
    display: flex;
}

.cart__table-choose p {
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin: 30px 0 40px 40px;
}

.cart__table-choose-btn--main {
    margin-left: 160px;
}

.cart__table-choose-btn-prev {
    min-width: 100px;
    margin-right: 6px;
}

.cart__table-choose--overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: none;
}

.active.cart__table-choose--overlay {
    display: block;
}

/* PC có độ phân giải từ 1024px > 1239px */
@media (min-width: 64em) and (max-width: 77.4375em) {
    .cart__product-main-price-main {
        transform: unset;
    }

    .cart__bill {
        display: none;
    }

    .cart__list-product {
        margin-top: 80px;
    }

    .search__bar {
        margin-right: 42px;
    }
}